<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style/style.css' %}"/>
        <title>Multipage Website</title>
    </head>
    <body>
        <header>
            <h1>Archive</h1>
            <nav>
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'archive' %}">Archive</a>
                <a href="{% url 'techtips' %}">Tech Tips</a>
                <a href="{% url 'bio' %}">About Me</a>
            </nav>
        </header>
        <main>
            {% include "blog/listBlogs.html" with latest_post=newestPost %}
        </main>
        <footer>
            <p>Rogan Skinner</p>
            <p>copyright 2017 Rogan Skinner - {{ current_time }}</p>
        </footer>
    </body>
</html>