<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style/style.css' %}"/>
        <title>Multipage Website</title>
    </head>
    <body>
        <header>
            <h1>About Me</h1>
            <nav>
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'archive' %}">Archive</a>
                <a href="{% url 'techtips' %}">Tech Tips</a>
                <a href="{% url 'bio' %}">About Me</a>
            </nav>
        </header>

        <img src="https://pbs.twimg.com/media/CHnjd2UWgAAeIPN.jpg" alt="My professional photo" height="400">

        <main>
            <article>
            <h2>About Me:</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies justo pretium,
                    iaculis nulla nec, tempor ligula. Vivamus consequat vitae orci tempor luctus.
                    Proin dictum non justo scelerisque dapibus. Mauris blandit turpis id massa rhoncus finibus.
                    Proin fermentum sagittis sapien, et varius odio rhoncus at. In hac habitasse platea dictumst.
                    Curabitur quis metus blandit, maximus leo vel, porttitor metus. Donec id nibh sem. Ut dui lacus,
                    gravida nec ipsum ut, lobortis fermentum magna.
                </p>
                <p>
                    Curabitur vulputate felis sit amet tempus sollicitudin. Morbi lacus metus, sagittis sed dolor vel,
                    fringilla varius ante. Cras mollis ipsum lacus, eu sagittis neque euismod in.
                    Praesent ut velit consequat, pulvinar neque vel, varius elit. Suspendisse potenti.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id ex nibh.
                    Fusce vel orci aliquam, sagittis quam non, efficitur ex. Integer semper ultricies dignissim.
                    Sed rutrum efficitur lorem, eu condimentum libero cursus id. Nullam ac purus arcu.
                </p>
                <p>
                    Sed a rhoncus est. Mauris elementum tortor non nisl condimentum, eget sollicitudin felis placerat.
                    Vivamus augue ante, ullamcorper et dictum vitae, laoreet in orci. Duis eleifend, nunc vel faucibus tempus,
                    urna lacus imperdiet augue, a viverra magna eros eu nunc. Nullam in metus purus. Donec sit amet dolor ligula.
                    Curabitur nec efficitur urna. Vivamus in congue magna, eget vulputate tortor. Nunc orci metus, tincidunt quis
                    elit nec, egestas fermentum justo. Mauris vel sem fermentum, tristique ipsum id, rhoncus dui. Ut suscipit
                    lacus mi, quis lobortis urna dictum egestas. Nulla porta nisi turpis, vitae tincidunt leo iaculis id.
                    Integer augue risus, pulvinar eu elit sed, viverra mattis sapien. Quisque non lacinia enim. Maecenas sagittis
                    est lobortis, euismod felis ac, ultrices enim. Phasellus fermentum vitae eros in sollicitudin.
                </p>
                <br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies justo pretium,
                    iaculis nulla nec, tempor ligula. Vivamus consequat vitae orci tempor luctus.
                    Proin dictum non justo scelerisque dapibus. Mauris blandit turpis id massa rhoncus finibus.
                    Proin fermentum sagittis sapien, et varius odio rhoncus at. In hac habitasse platea dictumst.
                    Curabitur quis metus blandit, maximus leo vel, porttitor metus. Donec id nibh sem. Ut dui lacus,
                    gravida nec ipsum ut, lobortis fermentum magna.
                </p>
                <p>
                    Curabitur vulputate felis sit amet tempus sollicitudin. Morbi lacus metus, sagittis sed dolor vel,
                    fringilla varius ante. Cras mollis ipsum lacus, eu sagittis neque euismod in.
                    Praesent ut velit consequat, pulvinar neque vel, varius elit. Suspendisse potenti.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id ex nibh.
                    Fusce vel orci aliquam, sagittis quam non, efficitur ex. Integer semper ultricies dignissim.
                    Sed rutrum efficitur lorem, eu condimentum libero cursus id. Nullam ac purus arcu.
                </p>
                <p>
                    Sed a rhoncus est. Mauris elementum tortor non nisl condimentum, eget sollicitudin felis placerat.
                    Vivamus augue ante, ullamcorper et dictum vitae, laoreet in orci. Duis eleifend, nunc vel faucibus tempus,
                    urna lacus imperdiet augue, a viverra magna eros eu nunc. Nullam in metus purus. Donec sit amet dolor ligula.
                    Curabitur nec efficitur urna. Vivamus in congue magna, eget vulputate tortor. Nunc orci metus, tincidunt quis
                    elit nec, egestas fermentum justo. Mauris vel sem fermentum, tristique ipsum id, rhoncus dui. Ut suscipit
                    lacus mi, quis lobortis urna dictum egestas. Nulla porta nisi turpis, vitae tincidunt leo iaculis id.
                    Integer augue risus, pulvinar eu elit sed, viverra mattis sapien. Quisque non lacinia enim. Maecenas sagittis
                    est lobortis, euismod felis ac, ultrices enim. Phasellus fermentum vitae eros in sollicitudin.
                </p>
            </article>
        </main>
        <aside>
            <h3>Vivamus in congue magna, eget vulputate tortor.</h3>
            <img src="https://i.imgur.com/N6xk6X6.jpg" alt="Warm Clothes" height="300">

            <h3>Praesent ut velit consequat, pulvinar neque vel, varius elit.</h3>
            <img src="http://www.bemparana.com.br/upload/image/noticia/noticia_157562_img1_idoso.jpg" alt="Cool CSS tricks" height="300">

            <h3>Nullam in metus purus.</h3>
            <img src="https://i.imgur.com/sa3NJtv.jpg" alt="Exercise" height="300">
        </aside>
        <footer>
            <p>Rogan Skinner</p>
        <p>copyright 2017 Rogan Skinner - {{ current_time }}</p>
        </footer>
    </body>
</html>
