<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style/style.css' %}"/>
        <title>Multipage Website</title>
    </head>
    <body>
        <header>
            <h1>{{ this_blog.title }}</h1>
            <nav>
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'archive' %}">Archive</a>
                <a href="{% url 'techtips' %}">Tech Tips</a>
                <a href="{% url 'bio' %}">About Me</a>
            </nav>
        </header>
        <main>
            <h2>
                {{ this_blog.author }}
            </h2>
            <p>
                {{ this_blog.post }}
            </p>
            <h5>
                {{ this_blog.date }}
            </h5>
        </main>
        <footer>
        <main>
            <form action="{% url 'comment' this_blog.id %}" method="post">
                <p>Name: <input type="text" name="name"></p>
                <p>Comment: <input type="text" name="comment"></p>
                <p>Email: <input type="text" name="email"></p>
                <p><input type="submit" value="Submit"></p>
                {% csrf_token %}
            </form>
            <h2>
                Comments:
            </h2>
            {% if comments %}
                <ul>
                    {% for item in comments %}
                        <li>
                            <h3>
                                {{ item.comment_author }}
                            </h3>
                            <p>
                                {{ item.comment }}
                            </p>
                            <h5>
                                {{ item.email }} : {{ item.date }}
                            </h5>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No comments yet, check back later, or add some of your own.</p>
            {% endif %}
        </main>
        </footer>
        <footer>
            <p>Rogan Skinner</p>
            <p>copyright 2017 Rogan Skinner - {{ current_time }}</p>
        </footer>
    </body>
</html>