{% if latest_post %}
<ul>
    {% for item in latest_post %}
        <li>
            <h3><a href="/blog/{{ item.id }}/">{{ item.title }}</a></h3>
            <p>{{ item.post|truncatewords:200 }}</p>
            <p>Comments : {{ item.childComments }}</p>
        </li>
    {% endfor %}
</ul>
    {% else %}
    <p>No posts yet, check back later, or load the template version.</p>
{% endif %}