<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style/style.css' %}"/>
        <title>Multipage Website</title>
    </head>
    <body>
    <header>
        <h1>Tech Tips</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'archive' %}">Archive</a>
            <a href="{% url 'techtips' %}">Tech Tips</a>
            <a href="{% url 'bio' %}">About Me</a>
        </nav>
    </header>
    <aside>
        <img src="https://i.imgur.com/8Wk58Ji.jpg" alt="A photo of me with my computer" height="300">
        <img src="https://i.imgur.com/PHfZnbA.jpg" alt="Playing my favorite Atari" height="300">
        <img src="https://i.imgur.com/8ysDoIC.jpg" alt="In my study room, reading on my tablet" height="300">
    </aside>
    <main>
        <article>
            <h2>
                Useful
                <a href="https://git-scm.com">
                    <img src="https://avatars1.githubusercontent.com/u/18133?s=400&v=4" height="32" alt="Git Homepage">
                </a>
                Git Commands
            </h2>
            <h2>
                and how to use them.
            </h2>
            <p>
                The following list goes through the steps of creating a repository, tying it to a repository
                in BitBucket, tracking file changes, committing, and pushing them into BitBucket.
            </p>
            <ol>
                <li>
                    First, <a href="https://bitbucket.org/repo/create">create a repository</a> in BitBucket and
                    then leave it alone. Only the HTTPS of the repository is needed from here on out.
                </li>
                <li>
                    Next, create a directory somewhere. This can be done with <code>cmd</code> or not.
                    The <code>cmd</code> instructions are:
                    <ul>
                        <li>
                            <code>cd &lt;directory&gt;</code> to move through directories, much like a file explorer.
                        </li>
                        <li>
                            <code>ls</code> to list the files and directories in the current one.
                        </li>
                        <li>
                            <code>mkdir &lt;name&gt;</code> to create an empty folder in the current directory.
                        </li>
                    </ul>
                    Be sure to navigate into the directory in <code>cmd</code>.
                </li>
                <li>
                    Initialize the current directory as a git repository, using the <code>git init</code> command.
                    Be sure to check and make sure that it doesn't already have one, by looking for a .git folder, or by
                    using the <code>git status</code> command inside of the repository directory.
                    <ul>
                        <li>
                            <code>git status</code> shows the general status of the current directory, if there is one.
                        </li>
                        <li>
                            <code>git init</code> initializes the current directory as a repository.
                        </li>
                    </ul>
                </li>
                <li>
                    Add your files to the newly created directory, along side the .git folder.
                </li>
                <li>
                    Track the added files using the <code>git add &lt;file&gt;</code> command.
                    <ul>
                        <li>
                            <code>git add &lt;file&gt;</code> adds the file given to the list of what is tracked
                            and what will be committed to the repository.
                        </li>
                    </ul>
                </li>
                <li>
                    To commit the added changes, just run the <code>git commit</code> command. Most commits will require some sort of message.
                    For mac, press a, then begin typing the message, and then press Esc, <code>:wq</code> or <code>:x!</code>, return, to save the displayed message.
                </li>
                <li>
                    After committing have to tie the BitBucket repository and the directory together.
                    If you have an <a href="https://confluence.atlassian.com/bitbucket/set-up-an-ssh-key-728138079.html">SSH key</a> set up,
                    then the username and password section gets skipped over. The code is shown below.
                    <ul>
                        <li>
                            <code>git remote add &lt;name&gt; &lt;url/ssh&gt;</code> to register the online repository.
                        </li>
                        <li>
                            <code>git push --set-upstream &lt;name&gt; master</code> to set the online repository as the push location,
                            and push the currently tracked files into the BitBucket Repository.
                        </li>
                    </ul>
                    This should successfully tie the two together.
                </li>
            </ol>
            <p>
                Now, whenever a change is made, commit the change with the <code>git add</code> and <code>git commit</code> command,
                and update the repository with the <code>git push</code> command. The <code>git pull</code> can be used to
                update the local repository if changes are made elsewhere and submitted to the online repository.
            </p>
            <p>
                Here is an example of the code required to for me to set up the repository for this assignment.
            </p>
            <ul>
                <li>
                    <code>cd Desktop/Git\ Repo\'s</code>
                </li>
                <li>
                    <code>mkdir cs2610hw2</code>
                </li>
                <li>
                    <code>cd cs2610hw2</code>
                </li>
                <li>
                    <code>git init</code>
                </li>
                <li>
                    add in the index.html file
                </li>
                <li>
                    <code>git add index.html</code>
                </li>
                <li>
                    <code>git commit</code> ...a&lt;commit message&gt; esc <code>:x!</code> return
                </li>
                <li>
                    <code>git remote add origin git@bitbucket.org:RoganSkinner/cs2610hw2.git</code>
                </li>
                <li>
                    <code>git push --set-upstream origin master</code>
                </li>
            </ul>
        </article>
    </main>
    <footer>
        <p>Rogan Skinner</p>
        <p>copyright 2017 Rogan Skinner - {{ current_time }}</p>
    </footer>
    </body>
</html>