/*Credit to https://css-tricks.com/snippets/css/a-guide-to-flexbox/ for the code allowing for
  two items in a column flex box to share the same space horizontally*/

body
{
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
    background-image: url("http://yiworks.com/wp-content/uploads/2016/11/Light-Grey-Background-Hd-5-1.jpg");
    padding: 2em;
}

img
{
    object-fit: contain;
    vertical-align: text-bottom;
}

body > *
{
    padding: 15px;
    flex: 1 100%;
    border-radius: 10px;
    border: solid black;
    border-spacing: 50px;
    background: white;

}

header
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main
{
    text-align: left;
}

aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media all and (min-width: 600px)
{
    aside { flex: 1 auto; }
}

@media all and (min-width: 800px)
{
    main    { flex: 3 }
    main    { order: 1; }
    aside   { order: 2; }
    footer  { order: 3; }
}

a
{
    transition: color 0.5s;
}

a:visited
{
    color: blue;
}

a:hover
{
    color: goldenrod;
}